{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/logo1.png' %}" type="image" sizes="16x16">
    <link rel="stylesheet" href="{% static 'css/accounts/loginpage.css' %}">

    <title>SIGNUP</title>
    <style>
        *{
            color: white;
            font-family: cursive;
        }
        input{
            color: black;
            font-family: cursive;
        }
    </style>
</head>
<body>
       <center><br>
        <h1>Signup Here</h1>
 
       <!-- </center> 
        {% comment %} <form  method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button name='signup' type="submit">Create Account </button>
        </form><br>
        {% endcomment %} -->


        <div class="container-fluid" style="margin-left: -550px; margin-top: -100px;">
            <form method="POST" class="main-form">
                {% csrf_token %}
                <h3>Username here</h3> 
                <div class="form-group">
                    <label for="formGroupExampleInput1">1.</label> 
                    {% render_field form.username class="form-control" id="formGroupExampleInput1" placeholder="Letters, digits and @/./+/-/_ only" size="26" %}
                </div><br>
                <h3>Enter Email here</h3>
                <div class="form-group">
                    <label for="formGroupExampleInput4">4. </label>
                    {% render_field form.email class="form-control" id="formGroupExampleInput4" placeholder="example@gmail.com" size="26" %}                               
                </div><br>
                <h3>Enter Password</h3>
                <div class="form-group">
                    <label for="formGroupExampleInput2">2.</label>
                    {% render_field form.password1 class="form-control" id="formGroupExampleInput2" placeholder="must contain at least 8 char" size="26" %}
                </div><br>
                <h3>Retype password</h3>
                <div class="form-group">
                    <label for="formGroupExampleInput3">3.</label>
                    {% render_field form.password2 class="form-control" id="formGroupExampleInput3" placeholder="can’t be too similar to username" size="26" %}
                </div>
                <button type="submit"><span>Sign Up</span></button><br><br>

            </form>

            
        </div>
        <h3>
            <p>Already have an account? <a href="{% url 'login' %}">Login Here</a></p>
        </h3>
        <div>		
            {% for messege in forms.error %}
                {{messege}}
            {% endfor %}
        </div>
    </center>
    <br><br><br>
	<center style="color: white; letter-spacing: 1px;">
		<span style="bottom: 5px;">
				Made with &#10083; by: <a href="https://iambhushan.netlify.app/" target="_blank" rel="noopener noreferrer">Bhushan Lokhande</a> and <a href="https://www.linkedin.com/in/suraj-patil-1b4950153/" target="_blank" rel="noopener noreferrer">Suraj Patil</a>
		</span>
	</center>

</body>
</html>