{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'img/logo1.png' %}" type="image" sizes="16x16">
    

    <title>PoLLkar</title>
</head>

<body>

    <!-- NAVBAR HERE  -->
    <navbar>
        <ul>
            <li><a class="active" href="{% url 'home' %}">Home</a></li>
            <li><a  href="{% url 'create' %}">New Poll</a></li>
        </ul>
    </navbar>

    <header>
        <!-- Image and text -->
        <nav class="navbar1">

            <img id="ilogo" src="{% static 'img/logo1.png' %}" width="50" alt="logo"><span> PoLL-कर</span> 

        </nav>
    </header><br><br>
    <div style="display: inline-block; height: fit-content; width: 100vw;justify-content: space-evenly;">
        {% for poll in polls %}
        <div class="card text-warning bg-dark mb-3" style="max-width: 18rem;display:inline-flex; justify-content: space-evenly;align: center;">
            <div class="card-header">{{ poll.datetime }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ poll.question }}</h5><br>
                <p class="card-text">1. {{ poll.option_one }}</p>
                <p class="card-text">2. {{ poll.option_two }}</p>
                <p class="card-text">3. {{ poll.option_three }}</p>
                <p class="card-text">4. {{ poll.option_four }}</p>
            </div>
            
            <div class="btn" role="group" aria-label="Basic mixed styles example">
            <a href="{% url 'vote' poll.id %}"><button type="button" class="btn btn-danger">Vote</button></a>
            <a href="{% url 'result' poll.id %}"><button type="button" class="btn btn-success">Result</button></a>
                
                <!-- <button type="button" class="btn btn-warning">Middle</button> -->
                
            </div>
        </div>
        {% endfor %}
    </div>




    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>


</body>

</html>